$container-bg: #FBFBFB;
$component-bg: #FFF;
$border: #000;
$item-border: #E6E6E6;
$item-hover-border: #000;
$add-btn: #BCC3BF;
$view-btn: #D9D9D9;
$remove-btn: #000;
$btn-text: #FFF;
$empty-slot-text: #B2B2B2;
$text: #000;
$page-bar-text: #9E9E9E;
$page-bar-line: #979797;
$pagebar-dot: #F4F4F4;
$pagebar-dot-active: #494949;

@font-face {
	font-family: 'Futura';
	src: url('../assets/Futura-Condensed.otf');
}
@font-face {
	font-family: 'Brandon';
	src: url('../assets/Brandon_reg.otf');
}

.BuildBox {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	.heading {
		font-family: 'Futura';
		text-align: center;
		font-size: 20px;
		font-weight: normal;
		padding: 41px 0 35px;
		margin: 0;
		letter-spacing: 5px;
	}
}

.BuildBoxContainer {
	background-color: $container-bg;
	padding-bottom: 100px;
	margin-bottom: 50px;
}

.componentContainer {
	width: 100%;
	max-width: 954px;
	margin: 0 auto;
	background-color: $component-bg;
	border: 1px solid $border;
	box-sizing: border-box;
	h1 {
		font-family: 'Futura';
		text-align: center;
		font-size: 15px;
		font-weight: normal;
		margin: 45px 0 19px;
		letter-spacing: 6.67px;
	}
	p {
		font-family: "Brandon";
		text-align: center;
		font-size: 18px;
		letter-spacing: 2.57px;
	}
}

.buildbox-btn {
	height: 45px;
	width: 147px;
	background-color: $add-btn;
	color: #fff;
	font-family: 'Futura';
	font-size: 14px;
	letter-spacing: 4px;
	border: none;
	cursor: pointer;
}
.buildbox-btn.active {
	background-color: #000;
}

.PageBar {
	display: flex;
	padding: 53px 0 62px;
	&__btn {
		width: 25%;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		position: relative;
		.stepTitle {
			font-family: 'Futura';
			color: $page-bar-text;
			font-size: 15px;
			letter-spacing: 4px;
			margin-bottom: 3px;
			transition: color 0.3s;
		}
		.stepHeading {
			font-family: 'Brandon';
			color: $page-bar-text;
			font-size: 14px;
			letter-spacing: 2px;
			transition: color 0.3s;
		}
		&:after {
			content: "";
			position: absolute;
			top: 14%;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: $page-bar-line;
		}
		&:hover {
			.PageBar__dot {
				background-color: $pagebar-dot-active;
			}
			.stepTitle, .stepHeading {
				color: #000;
			}
		}
	}
	&__dot {
		height: 27px;
		width: 27px;
		border-radius: 50%;
		margin-bottom: 22px;
		background-color: $pagebar-dot;
		z-index: 1;
		transition: background-color 0.3s;
	}
	&__btn.activeStep {
		.PageBar__dot {
			background-color: $pagebar-dot-active;
		}
		.stepTitle, .stepHeading {
			color: #000;
		}
	}
}

.ProductFilter {
	display: inline-block;
	width: 25%;
	position: relative;
	select {
		font-family: 'Brandon';
		font-size: 12px;
		letter-spacing: 1.71px;
		color: #727272;
		border: 1px solid #E6E6E6;
		width: 188px;
		height: 35px;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	    padding-left: 20px;
	    option {
	    	padding-left: 20px;
	    }
	}
	&:before {
		content: "";
		position: absolute;
		background-color: #1B1A19;
		height: 2px;
		width: 9px;
		right: 42px;
		bottom: 35px;
		transform: rotate(45deg);
	}
	&:after {
		content: "";
		position: absolute;
		background-color: #1B1A19;
		height: 2px;
		width: 9px;
		right: 37px;
		bottom: 35px;
		transform: rotate(-45deg);
	}
}

.AddonProducts.componentContainer {
	padding: 0 35px;
}

.AddonProducts {
	h1 {
		margin: 43px 0 31px;
	}
	.Filters {
		margin-left: 17px;
		padding-bottom: 36px;
	}
	&__list {
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		margin: 0;
	}
	&__addonProduct {
		width: 25%;
		span {
			font-family: 'Brandon';
			display: block;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 2px;
			margin: 35px auto 59px;
			width: 85%;
		}
	}
	&__wrapper {
		width: 186px;
		height: 186px;
		margin: 0 auto;
		position: relative;
		border: 1px solid $item-border;
		transition: border 0.3s;
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: 0 auto;
		}
		&:hover {
			border: 2px solid $item-hover-border;
			.AddonProducts__overlay {
				opacity: 1
			}	
		}
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.3s;
		button {
			font-family: 'Futura';
			height: 45px;
			width: 130px;
			margin-bottom: 5px;
			color: $btn-text;
			border: none;
			cursor: pointer;
			font-size: 14px;
			letter-spacing: 4px;
			&:first-child {
				background-color: $add-btn;
			}
			&:last-child {
				background-color: $view-btn
			}
		}
	}
}

.QuickView {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 25;
	&__content {
		width: 100%;
		max-width: 761px;
		background-color: #fff;
		display: flex;
		position: relative;
		padding: 30px;
		box-sizing: border-box;
	}
	&__close {
		color: #fff;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: #000;
		svg {
			font-size: 15px;
			path {
				fill: #fff;
			}
		}
	}
	&__image {
		width: 50%;
		padding-right: 30px;
		img {
			width: 100%;
		}
	}
	&__info {
		width: 50%;
		h2 {
			font-family: 'Futura';
			font-weight: normal;
			letter-spacing: 5px;
			font-size: 20px;
		}
		h3 {
			font-size: 17px;
			margin-bottom: 40px;
		}
		button {
			width: 100%;
		}
		p {
			text-align: left;
			border-top: 1px solid #E5E5E5;
			padding-top: 10px;
		}
	}
}

.BuildSummary {
	margin-bottom: 22px;
	p {
		margin-bottom: 52px;
	}
	&__info {
		display: flex;
	}
	&__list {
		width: 75%;
		list-style: none;
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		position: relative;
		padding: 0 32px;
		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 2px;
			height: 90%;
			background-color: $item-border;
		}
	}
	&__total {
		display: flex;
		flex-direction: column;		
		padding: 33px 32px;
		p {
			font-size: 15px;
			font-weight: bold;
			letter-spacing: 2px;
			text-align: left;
			margin: 0 0 15px;
		}
		.next-btn {
			margin-top: auto;
		}
	}
	&__addonProduct {
		width: 20%;
		span {
			font-family: 'Brandon';
			display: block;
			text-align: center;
			font-size: 10px;
			font-weight: bold;
			letter-spacing: 1.43px;
			margin: 20px auto 63px;
			width: 90%
		}
	}
	&__itemWrapper {
		height: 109px;
		width: 109px;
		margin: 0 auto;
		position: relative;
		border: 1px solid $item-border;
		transition: border 0.3s;
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: 0 auto;
		}
		&:hover {
			border: 2px solid $item-hover-border;
			.BuildSummary__productOverlay {
				opacity: 1;
			}
		}
	}
	&__productOverlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.3s;
		button {
			font-family: 'Futura';
			height: 45px;
			width: 72px;
			color: $btn-text;
			border: none;
			cursor: pointer;
			background-color: $remove-btn;
			font-size: 12px;
			letter-spacing: 4px;
		}
	}
	&__emptySlotWrapper {
		width: 20%;
	}
	&__emptySlot {
		height: 109px;
		width: 109px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid $item-border;
		margin: 0 auto 108px;
		span {
			font-family: 'Brandon';
			font-size: 12px;
			letter-spacing: 1.43px;
			color: $empty-slot-text;
		}
	}
	.FixedCart__total {
		margin: 0;
	}
}

.WriteMessage {
	.componentContainer {
		padding: 0 56px 44px 47px;
	}
	p {
		margin: 0 0 41px;
	}
	&__content {
		display: flex;
	}
	&__card {
		width: 50%;
		height: 377px;
		border: 1px solid $item-border;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 25px;
	}
	&__message {
		width: 50%;
		height: 377px;
		padding-left: 25px;
		position: relative;
		display: flex;
		flex-direction: column;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background-color: $item-border;
		}
		textarea {
			font-family: 'Brandon';
			letter-spacing: 2.5px;
			height: 81%;
			padding: 17px 27px;
			box-sizing: border-box;
			border: 1px solid $item-border;
			resize: none;
		}
		.next-btn {
			margin: auto 0 0 auto;
		}
	}
}

.PickRibbon {
	p {
		margin: 46px 0 41px;
	}
	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__ribbon {
		height: 170px;
		width: 170px;
		border: 1px solid $item-border;
		margin: 0 15px;
		cursor: pointer;
		transition: border-color 0.3s;
		img {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	&__ribbon.active {
		border-color: #000;
	}
	button {
		display: block;
		margin: 38px auto 44px;
	}
}

.Summary {
	p {
		margin: 20px 0 51px;
	}
	.componentContainer {
		padding: 0 58px 44px 72px;
	}
	&__content {
		display: flex;
	}
	&__images {
		list-style: none;
		width: 50%;
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		margin: 0;
		border-right: 1px solid $item-border;
		li {
			height: 170px;
			width: 170px;
			border: 1px solid $item-border;
			margin: 0 26px 26px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				max-width: 100%;
				max-height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
	}
	&__list {
		width: 50%;
		margin-left: 27px;
		ul {
			padding: 22px 35px 22px 27px;
			margin: 0;
			border: 1px solid $item-border;
			list-style: none;
			li {
				font-family: 'Brandon';
				font-size: 14px;
				line-height: 25px;
				letter-spacing: 2px;
			}
			span {
				padding-right: 15px;
			}
			.title {
				font-family: 'Futura';
				margin-bottom: 36px;
			}
			.messageTitle {
				margin-top: 52px;
			}
		}
	}
	&__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 39px;
		span {
			font-family: 'Futura';
			font-size: 16px;
			letter-spacing: 5.14px;
			color: #979797;
			padding-left: 30px;
		}
	}
}

.FixedCart {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-top: 1px solid $item-border;
	z-index: 5;
	background-color: #fff;
	overflow: hidden;
	transition: height 0.3s;
	.componentContainer {
		height: 100%;
		border: none;
		display: flex;
		align-items: center;
	}
	&__list {
		display: flex;
		margin: 0;
		padding:0;
		width: 63%;
		list-style: none;
		li {
			margin-right: 20px;
			width: 40px;
			height: 40px;
			border: 1px solid $item-hover-border;
			img {
				max-width: 100%;
				max-height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
	}
	.next-btn {
		margin-left: auto;
	}
}
.FixedCart.activeCart {
	height: 66px;
}